<%- title t('users.settings') %>

<h2 class="mrgt0"><%= t('users.settings') %></h2>

<%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, autofocus: true, required: true %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password, required: true %>

  <div class="form-group">
    <%= f.button :submit, t('update') %>
  </div>
<% end %>
