<%= form_for @recipe, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @recipe.errors.any? %>
    <%= render 'shared/form_errors', :errors => @recipe.errors %>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.text_field :title, :class => 'form-control', :autofocus => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ingredients, :class => 'col-sm-2 control-label' %>
    <div class="ingredients col-sm-7">
      <%= f.fields_for :ingredients, @recipe.ingredients do |i_f|%>
        <div class="recipe-ingredient row">
          <div class="col-sm-3">
            <%= i_f.text_field :amount, :class => 'form-control recipe-amount-field' %>
          </div>
          <div class="col-sm-9">
            <% unless i_f.object.new_record? %><div class="input-group"><% end %>
              <%= i_f.text_field :title, :class => 'form-control' %>
              <% unless i_f.object.new_record? %>
                <span class="input-group-addon">
                  <%= i_f.label :_destroy, :class => 'checkbox-inline' do %>
                    <%= i_f.check_box :_destroy %>
                    <%= t('delete') %>
                  <% end %>
                </span>
              <% end %>
            <% unless i_f.object.new_record? %></div><% end %>
          </div>
        </div>
      <% end %>
    </div>
    <p><button type="button" class="add-ingredient btn btn-default"><i class="fa fa-plus spaced-right"></i> <%= I18n.t('ingredients.add') %></button></p>
  </div>

  <div class="form-group">
    <%= f.label :steps, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.text_area :steps, :class => 'form-control', :rows => '10' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-3">
          <%= f.text_field :time, :class => 'form-control col-sm-2' %>
        </div>
        <div class="col-sm-9">
          <p class="form-control-static">Minutes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.text_area :notes, :class => 'form-control', :rows => '2' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tags, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.text_field :tag_list, :class => 'form-control', 'data-typeahead' => 'tags' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>