<% if @recipe.errors.any? %>
  <%= render 'shared/form_errors', :errors => @recipe.errors %>
<% end %>

<div class="form-group">
  <%= f.label :title, :class => 'control-label' %>
  <%= f.text_field :title, :class => 'form-control' %>
</div>

<%= f.label :ingredients, :class => 'control-label' %>
<div class="ingredients">
  <%= f.fields_for :ingredients, @recipe.ingredients do |i_f|%>
    <div class="recipe-ingredient row form-group">
      <div class="col-sm-3">
        <%= i_f.text_field :amount, :class => 'form-control' %>
      </div>
      <div class="col-sm-9">
        <% unless i_f.object.new_record? %><div class="input-group"><% end %>
          <%= i_f.text_field :title, :class => 'form-control' %>
          <% unless i_f.object.new_record? %>
            <span class="input-group-addon">
              <%= i_f.label :_destroy, :class => 'checkbox-inline' do %>
                <%= i_f.check_box :_destroy %>
                <%= t('delete') %>
              <% end %>
            </span>
          <% end %>
        <% unless i_f.object.new_record? %></div><% end %>
      </div>
    </div>
  <% end %>
</div>
<p><button type="button" class="add-ingredient btn btn-default">Add ingredient</button></p>

<div class="form-group">
  <%= f.label :steps, :class => 'control-label' %>
  <%= f.text_area :steps, :class => 'form-control', :rows => '5' %>
</div>

<div class="form-group">
  <%= f.label :time, :class => 'control-label' %>
  <%= f.text_field :time, :class => 'form-control' %>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :cooking, :class => 'control-label' %>
      <%= f.text_area :cooking, :class => 'form-control', :rows => '2' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :notes, :class => 'control-label' %>
      <%= f.text_area :notes, :class => 'form-control', :rows => '2' %>
    </div>
  </div>
</div>

<%= f.submit :class => 'btn btn-primary' %>
