<%= link_to recipe_path(recipe.id), class: 'link-ghost' do %>
  <div class="media media--small media--middle">
    <div class="media__left">
      <%= render 'recipes/image', size: :thumb, image: recipe.image %>
    </div>
    <div class="media__body">
      <h4 class="mrgv0"><%= recipe.title %></h4>
      <% if recipe.time.present? || recipe.quantity.present? %>
        <ul class="list-inline text-muted mrgt--">
          <% if recipe.time.present? %><li><%= t('recipes.time', :count => recipe.time) %></li><% end %>
          <% if recipe.quantity.present? %><li><%= t('recipes.people', :count => recipe.quantity) %></li><% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
