<header class="page-header">
  <ul class="list-unstyled list-inline pull-right">
    <li><a href="<%= new_recipe_path %>" class="btn btn-primary"><i class="fa fa-plus spaced-right"></i> Nouvelle recette</a></li>
    <li>
      <%= search_field_tag :recipes_filter, nil, :placeholder => t('recipes.search'), :class => 'form-control' %>
    </li>
  </ul>
  <h1>Recettes</h1>
</header>

<p class="recipes-empty alert alert-info"><%= I18n.t('recipes.empty') %></p>

<% if @recipes.present? %>
  <% @recipes.keys.sort.each do |starting_letter| %>
    <div class="recipes-group">
      <h4 class="text-muted index-letter"><%= starting_letter %></h4>
      <div class="list-group">
        <% @recipes[starting_letter].each do |recipe| %>
          <%= link_to recipe_path(recipe.id), :class => 'list-group-item recipe' do %>
            <h4 class="list-group-item-heading"><%= recipe.title %></h4>
            <p class="list-group-item-text text-muted"><i class="fa fa-clock-o spaced-right"></i> <%= t('recipes.time', :count => recipe.time) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :aside do %>
  <ul class="nav nav-pills nav-stacked">
    <% @tags.each do |tag| %>
      <li>
        <%= link_to tag, :class => 'tag' do %>
          <span class="badge pull-right"><%= tag.recipes.count %></span>
          <%= tag.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>