<header class="recipe-header page-header">
  <h1 class="recipe-title">
    <%= @recipe.title %>
  </h1>
  <% if @recipe.time.present? || @recipe.quantity.present? %>
    <ul class="list-inline lead text-muted">
      <% if @recipe.time.present? %><li><i class="fa fa-clock"></i> <%= t('recipes.time', :count => @recipe.time) %></li><% end %>
      <% if @recipe.quantity.present? %><li><i class="fa fa-users"></i> <%= t('recipes.people', :count => @recipe.quantity) %></li><% end %>
    </ul>
  <% end %>
</header>

<article class="recipe">
  <div class="row">
    <div class="col-sm-4">
      <% if @recipe.ingredients.present? %>
        <div class="recipe-ingredients panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= I18n.t('activerecord.attributes.recipe.ingredients') %></h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed">
              <tbody>
                <% @recipe.ingredients.each do |ingredient| %>
                  <tr>
                    <td><%= ingredient.amount %></td>
                    <td><%= ingredient.title %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

      <% if @recipe.notes.present? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= I18n.t('activerecord.attributes.recipe.notes') %></h3>
          </div>
          <div class="panel-body">
            <%= simple_format(Rinku.auto_link(@recipe.notes)) %>
          </div>
        </div>
      <% end %>

      <% if can? :manage, @recipe %>
        <ul class="recipe-actions list-inline">
          <li><%= link_to raw('<i class="fa fa-pencil-alt spaced-right"></i> ') + t('edit'), edit_recipe_path(@recipe) %></li>
          <li><%= link_to raw('<i class="fa fa-trash-alt spaced-right"></i> ') + t('delete'), recipe_path(@recipe), :method => 'delete', :data => { :confirm => t('confirm') } %></li>
        </ul>
      <% end %>
    </div>
    <div class="col-sm-8">
      <% if @recipe.image.present? %>
        <%= image_tag @recipe.image.url(:medium), :class => 'thumbnail' %>
      <% end %>

      <% if @recipe.steps.present? %>
        <% steps = @recipe.steps.split( /\r?\n/ ) %>
        <table class="table-steps table">
          <tbody>
            <% steps.each.with_index do |step, i| %>
              <tr>
                <td><span class="h2 recipe-step-index"><%= i+1 %></span></td>
                <td class="recipe-step"><%= step %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <ul class="list-inline">
        <% @recipe.tags.each do |tag| %>
          <li><%= link_to tag.title, tag, :class => 'label label-default' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</article>
