<%- title "#{@recipe.title} · #{t('activerecord.models.recipe.one')}" %>

<header class="mrgb">
  <div class="pusher pusher--bottom">
    <div class="pusher__body">
      <h1 class="mrgb0"><%= @recipe.title %></h1>
      <ul class="list-inline lead text-muted mrgt-">
        <li class="mrgb-- mrgr pdgh0">
          <% authorLink = link_to @recipe.user.username, user_path(@recipe.user.username) %>
          <%= t('recipes.by_html', author: authorLink) %>
        </li>
        <% if @recipe.time.present? %>
          <li class="mrgb-- mrgr pdgh0">
            <%= render 'shared/icon', id: 'time', classnames: 'icon--100' %>
            <%= t('recipes.time', :count => @recipe.time) %>
          </li>
        <% end %>
        <% if @recipe.quantity.present? %>
          <li class="mrgb-- mrgr pdgh0">
            <%= render 'shared/icon', id: 'people', classnames: 'icon--100' %>
            <%= t('recipes.people', :count => @recipe.quantity) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if can? :manage, @recipe %>
      <ul class="list-inline mrgt-">
        <li>
          <%= link_to edit_recipe_path(@recipe) do %>
            <%= render 'shared/icon', id: 'edit', classnames: 'icon--100 mrgr--' %><%= t('edit') %>
          <% end %>
        </li>
        <li>
          <%= link_to recipe_path(@recipe), :method => 'delete', :data => { :confirm => t('confirm') } do %>
            <%= render 'shared/icon', id: 'bin', classnames: 'icon--100 mrgr--' %><%= t('delete') %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</header>

<div class="grid grid--multiline grid--large">
  <div class="grid__item md-w-2/3">
    <%= render 'recipes/image', size: :medium, image: @recipe.image %>

    <% if @recipe.steps.present? %>
      <% steps = @recipe.steps.split( /\r?\n/ ) %>
      <table class="table table--divided table--spaced mrgt mrgb0">
        <tbody>
          <% steps.each.with_index do |step, i| %>
            <tr>
              <td class="text-center" width="1">
                <span class="h1"><%= i+1 %></span>
              </td>
              <td><%= step %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="grid__item md-w-1/3">
    <% if @recipe.ingredients.present? %>
      <div class="panel panel-default">
        <div class="panel__header">
          <h3 class="panel__title"><%= t('activerecord.attributes.recipe.ingredients') %></h3>
        </div>
        <div class="panel__body">
          <table class="table table--divided mrgb0">
            <tbody>
              <% @recipe.ingredients.each do |ingredient| %>
                <tr>
                  <td class="text-right text-bold"><%= ingredient.amount %></td>
                  <td><%= ingredient.title %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <% if @recipe.notes.present? %>
      <div class="panel panel-default mrgt+">
        <div class="panel__header">
          <h3 class="panel__title"><%= t('activerecord.attributes.recipe.notes') %></h3>
        </div>
        <div class="panel__body wysiwyg">
          <%= simple_format(Rinku.auto_link(@recipe.notes)) %>
        </div>
      </div>
    <% end %>

    <% if @recipe.tags %>
      <ul class="list-inline mrgt+">
        <% @recipe.tags.each do |tag| %>
          <li class="mrgb-- mrgr-- pdgh0">
            <%= link_to tag.title, tag, :class => 'tag' %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
