<header class="recipe-header page-header">
  <span class="btn-group pull-right">
    <%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'btn btn-default'
  %><%= link_to 'Delete', recipe_path(@recipe), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
  </span>
  <h1><%= @recipe.title %></h1>
  <% if(@recipe.time.present?) %>
    <ul class="list-inline lead text-muted">
      <li><i class="fa fa-clock-o"></i> <%= t('recipes.time', :count => @recipe.time) %></li>
    </ul>
  <% end %>
</header>

<article class="recipe">
  <div class="row">
    <div class="col-sm-4">
      <% if @recipe.ingredients.present? %>
        <div class="recipe-ingredients panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= I18n.t('activerecord.attributes.recipe.ingredients') %></h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed">
              <tbody>
                <% @recipe.ingredients.each do |ingredient| %>
                  <tr>
                    <td><%= ingredient.amount %></td>
                    <td><%= ingredient.title %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

      <% if @recipe.notes.present? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= I18n.t('activerecord.attributes.recipe.notes') %></h3>
          </div>
          <div class="panel-body">
            <%= @recipe.notes %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-8">
      <% if @recipe.steps.present? %>
        <% steps = @recipe.steps.split( /\r?\n/ ) %>
        <table class="table-steps table">
          <tbody>
            <% steps.each.with_index do |step, i| %>
              <tr>
                <td><span class="h2 text-muted"><%= i+1 %></span></td>
                <td class="recipe-step"><%= step %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <ul class="list-inline">
        <% @recipe.tags.each do |tag| %>
          <li><%= link_to tag.title, tag, :class => 'text-muted' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</article>