<%- title @title %>
<% content_for :container_class { "container--small" } %>

<div class="pusher pusher--middle mrgb">
  <div class="pusher__body mrgt--">
    <h1 class="mrgb0"><%= @title %></h1>
  </div>
  <div class="mrgt--">
    <a href="<%= new_recipe_path %>" class="btn btn--primary">
      <%= render 'shared/icon', id: 'plus', classnames: 'icon--100' %>
      <%= t('recipes.new') %>
    </a>
  </div>
</div>

<% if @recipes.present? %>
  <ul class="list-stacked list-stacked--divided">
    <% @recipes.each do |recipe| %>
      <li><%= render 'recipes/group_item', :recipe => recipe %></li>
    <% end %>
  </ul>
<% else %>
  <p class="text-muted"><%= t('recipes.empty') %></p>
<% end %>
