<h2><%= t('users.forgot_password') %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'form-control', :autofocus => true %>
  </div>

  <%= f.submit t('users.reset_instructions'), :class => 'btn btn-primary' %>
<% end %>