<%- title t('nav.home') %>

<% if @recipes.present? %>
  <ul class="list-stacked list-stacked--large">
    <li>
      <div class="grid grid--multiline grid--large">
        <div class="grid__item sm-w-1/2 lg-w-3/5">
          <% if @random_recipe.present? %>
            <h2 class="mrgt0"><%= t('recipes.randomly') %></h2>
            <%= render 'recipes/card_large', :recipe => @random_recipe %>
          <% end %>
        </div>
        <div class="grid__item sm-w-1/2 lg-w-2/5">
          <h2 class="mrgt0"><%= t('recipes.recently_added') %></h2>
          <%= render 'recipes/group', :recipes => @recipes %>
        </div>
      </div>
    </li>
    <% if @last_seen_recipes.present? %>
      <li>
        <h2 class="mrgt0"><%= t('recipes.last_seen') %></h2>
        <%= render 'recipes/card-grid', :recipes => @last_seen_recipes %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="alert alert--info"><%= I18n.t('recipes.empty') %></p>
<% end %>
