<header class="site-header">
  <div class="site-header__left">
    <% if current_user.present? %>
      <ul class="nav">
        <li class="relative-parent hidden-md-up">
          <button class="nav__link dropdown-toggle btn btn--bare" title="<%= t('nav.menu') %>">
            <%= render 'shared/icon', id: 'hamburger', classnames: 'icon--100' %>
          </button>
          <div class="dropdown">
            <ul class="dropdown-list">
              <li>
                <%= active_link_to root_path, active: :exact, class: 'dropdown-list__link media media--tiny' do %>
                  <div class="media__left"><%= render 'shared/icon', id: 'home', classnames: 'icon--75' %></div>
                  <div class="media__body"><%= t('nav.browse') %></div>
                <% end %>
              </li>
              <li>
                <%= active_link_to user_path(username: current_user.username), class: 'dropdown-list__link media media--tiny' do %>
                  <div class="media__left"><%= render 'shared/icon', id: 'restaurant', classnames: 'icon--75' %></div>
                  <div class="media__body"><%= t('nav.my_recipes') %></div>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="hidden-sm-down">
          <%= active_link_to root_path,
            active: :exact,
            class: 'nav__link',
            title: t('nav.browse') do %>
            <%= render 'shared/icon', id: 'home', classnames: 'icon--100' %>
          <% end %>
        </li>
        <li class="hidden-sm-down">
          <%= active_link_to user_path(username: current_user.username), class: 'nav__link' do %>
            <%= render 'shared/icon', id: 'restaurant', classnames: 'icon--100 mrgr--' %><%= t('nav.my_recipes') %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <a href="/" class="brand">Cookr</a>

  <div class="site-header__right">
    <% if current_user.present? %>
      <ul class="nav nav--right">
        <li id="search-container"></li>
        <li class="relative-parent">
          <button class="nav__link dropdown-toggle btn btn--bare<%= ' active' if current_page?(controller: 'devise/registrations', action: 'edit') %>">
            <%= render 'shared/icon', id: 'user', classnames: 'icon--100' %>
          </button>
          <div class="dropdown dropdown--right">
            <ul class="dropdown-list">
              <li>
                <%= active_link_to edit_user_registration_path, class: 'dropdown-list__link media media--tiny' do %>
                  <div class="media__left"><%= render 'shared/icon', id: 'settings', classnames: 'icon--75' %></div>
                  <div class="media__body"><%= t('users.settings') %></div>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-list__link media media--tiny' do %>
                  <div class="media__left"><%= render 'shared/icon', id: 'power', classnames: 'icon--75' %></div>
                  <div class="media__body"><%= t('users.sign_out') %></div>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</header>
