<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="master">
      <%= render 'layouts/header' %>

      <section class="site-content">
        <div class="container <%= yield :container_class %>">
          <%= render 'layouts/flash' %>

          <%= yield %>
        </div>
      </section>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
