<!DOCTYPE html>
<html>
  <head>
    <title>Cookr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li<%= params['controller'] == 'home' ? ' class=active' : '' %>><a href="<%= root_path %>">Home</a></li>
          <li<%= params['controller'] == 'recipes' && params['action'] == 'new' ? ' class=active' : '' %>><a href="<%= new_recipe_path %>">New recipe</a></li>
        </ul>
        <h3 class="text-muted">Cookr</h3>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">
        <p>&copy; LeBen</p>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>