<!DOCTYPE html>
<html>
  <head>
    <title>Cookr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7931852/775502/css/fonts.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="site-wrapper">
      <header class="site-header">
        <div class="container">
          <h3 class="text-muted"><a href="/">Cookr</a></h3>
        </div>
      </header>

      <section class="site-content">
        <nav class="site-nav">
          <ul class="nav">
            <li<%= params['controller'] == 'home' ? ' class=active' : '' %>><a href="<%= root_path %>"><i class="fa fa-home fa-2x"></i></a></li>
            <li<%= params['controller'] == 'recipes' ? ' class=active' : '' %>><a href="<%= recipes_path %>" title="<%= I18n.t('activerecord.models.recipe').pluralize %>"><i class="fa fa-cutlery fa-2x"></i></a></li>
            <li<%= params['controller'] == 'tags' ? ' class=active' : '' %>><a href="<%= tags_path %>" title="<%= I18n.t('activerecord.models.tag').pluralize %>"><i class="fa fa-tags fa-2x"></i></a></li>
          </ul>
        </nav>

        <% if yield(:aside).present? %>
          <aside class="page-sidebar">
            <%= yield :aside %>
          </aside>
        <% end %>

        <div class="container page-content">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>