<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="site-wrapper">
      <%= render 'layouts/header' %>

      <section class="site-content">
        <nav class="site-nav">
          <ul class="nav">
            <li<%= params['controller'] == 'home' ? ' class=active' : '' %>><a href="<%= root_path %>"><i class="fa fa-home fa-2x"></i></a></li>
            <li<%= params['controller'] == 'recipes' ? ' class=active' : '' %>><a href="<%= recipes_path %>" title="<%= I18n.t('activerecord.models.recipe').pluralize %>"><i class="fa fa-cutlery fa-2x"></i></a></li>
            <li<%= params['controller'] == 'tags' ? ' class=active' : '' %>><a href="<%= tags_path %>" title="<%= I18n.t('activerecord.models.tag').pluralize %>"><i class="fa fa-tags fa-2x"></i></a></li>
          </ul>
        </nav>

        <% if yield(:aside).present? %>
          <aside class="page-sidebar">
            <%= yield :aside %>
          </aside>
        <% end %>

        <div class="container page-content">
          <div class="page-content-inner">
            <% if alert.present? %><p class="alert alert-danger"><%= alert %></p><% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>