<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="master">
      <%= render 'layouts/header' %>

      <section class="site-content site-content--shrinked">
        <div class="site-content__body">
          <div class="container">
            <% if alert.present? %>
              <div class="alert alert--danger media media--small mrgb">
                <div class="media__left">
                  <%= render 'shared/icon', id: 'error', classnames: 'icon--100' %>
                </div>
                <div class="media__body">
                  <%= alert %>
                </div>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
